@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --clr: #222327;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--clr);
}

.navigation {
  position: relative;
  width: 400px;
  height: 70px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  ul {
    display: flex;
    width: 350px;
    li {
      position: relative;
      list-style: none;
      width: 70px;
      height: 70px;
      z-index: 1;
      &:nth-of-type(1).active ~ .indicator {
        transform: translateX(calc(70px * 0));
      }
      &:nth-of-type(2).active ~ .indicator {
        transform: translateX(calc(70px * 1));
      }
      &:nth-of-type(3).active ~ .indicator {
        transform: translateX(calc(70px * 2));
      }
      &:nth-of-type(4).active ~ .indicator {
        transform: translateX(calc(70px * 3));
      }
      &:nth-of-type(5).active ~ .indicator {
        transform: translateX(calc(70px * 4));
      }
      &.active {
        a .icon {
          transform: translateY(-32px);
        }
        a .text {
          opacity: 1;
          transform: translateY(10px);
        }
      }
      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;
        .icon {
          position: relative;
          display: block;
          line-height: 75px;
          font-size: 1.5em;
          text-align: center;
          transition: 0.5s;
          color: var(--clr);
        }
        .text {
          position: absolute;
          color: var(--clr);
          font-weight: 400;
          font-size: 0.75em;
          letter-spacing: 0.05em;
          transition: 0.5s;
          opacity: 0;
          transform: translateY(20px);
        }
      }
    }
    .indicator {
      position: absolute;
      top: -50%;
      height: 70px;
      width: 70px;
      background: #29fd53;
      border-radius: 50%;
      border: 6px solid var(--clr);
      transition: 0.5s;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -22px;
        height: 20px;
        width: 20px;
        background: transparent;
        border-top-right-radius: 20px;
        box-shadow: 1px -10px 0 0 var(--clr);
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -22px;
        height: 20px;
        width: 20px;
        background: transparent;
        border-top-left-radius: 20px;
        box-shadow: -1px -10px 0 0 var(--clr);
      }
    }
  }
}
